* {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  max-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-image: url("./assets/springbackground.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 125px;
  margin: 20px;
  text-transform: uppercase;
  color: #ff5d5d;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

footer {
  text-align: center;
  margin-top: 80px;
  opacity: 45%;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

a {
  color: #0400ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #5451ff;
}

#eggClick {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  background-color: transparent;
  border: none;
  width: 470px;
  transition: transform 0.3s ease;
  outline: none;
}

#eggClick:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#eggClick.clicked {
  transform: scale(0.95);
}

#eggUpgrade1 {
  display: block;
  margin-left: auto;
  margin-right: 200px;
}

#mainStats {
  margin-left: 200px;
  margin-top: -450px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

#eggCount,
#epsCount {
  display: block;
  margin-bottom: 40px;
  color: #5e52ce;
  max-width: 400px;
  margin-left: 50px;
  margin-bottom: 100px;
  max-height: 50px;
}

#reset {
  margin-left: 200px;
  margin-top: 50px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #ff5d5d;
  color: #ffffff;
  border: none;
  border-radius: 12px;
}

#reset:hover {
  background-color: #e74b4b;
  cursor: pointer;
}

#eggUpgradeContainer {
  display: flex;
  flex-direction: column;
  margin-top: -390px;
  align-items: flex-end;
}

#eggUpgrade1 {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #3da4f8;
  color: #ffffff;
  border: none;
  border-radius: 12px;
}

#eggUpgrade1:hover {
  background-color: #3c8df7;
  cursor: pointer;
}

#eggUpgrade2 {
  margin-bottom: 30px;
  margin-right: 200px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #e788db;
  color: #ffffff;
  border: none;
  border-radius: 12px;
}

#eggUpgrade2:hover {
  background-color: #c966bb;
  cursor: pointer;
}

#eggUpgrade3 {
  margin-bottom: 30px;
  margin-right: 200px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #74f074;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  width: 400px;
}

#eggUpgrade3:hover {
  background-color: #60d460;
  cursor: pointer;
}

/* researched how to add rainbow affect to font  */

@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  56% {
    color: blue;
  }
  70% {
    color: indigo;
  }
  84% {
    color: violet;
  }
  100% {
    color: red;
  }
}

#eggUpgrade4 {
  margin-bottom: 30px;
  margin-right: 200px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdff6a;
  border: none;
  border-radius: 12px;
  width: 450px;
  color: transparent;
  animation: rainbow 12s infinite;
}

#eggUpgrade4:hover {
  background-color: #e5e76d;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5px, 0);
  }
  20% {
    transform: translate(5px, 0);
  }
  30% {
    transform: translate(-5px, 0);
  }
  40% {
    transform: translate(5px, 0);
  }
  50% {
    transform: translate(-5px, 0);
  }
  60% {
    transform: translate(5px, 0);
  }
  70% {
    transform: translate(-5px, 0);
  }
  80% {
    transform: translate(5px, 0);
  }
  90% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.shake-animation {
  animation: shake 0.5s ease-in-out infinite;
}

.rainbow-text {
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbowAnimation 5s linear infinite;
}

@keyframes rainbowAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 6px solid #ff5d5d;
  border-radius: 5px;
  margin-top: 400px;
  margin-bottom: 40px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
  width: 380px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="username"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

#signupButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

#signupButton:hover {
  background-color: #218838;
}
